* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  text-align: center;
}

header {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  background-color: #ff8424;
  font-weight: 700;
}

.panel-header {
  color: white;
  text-align: center;
  padding: 10px;
  background-color: #ff8424;
  font-weight: 700;
}

.wrapper {
  background-color: white;
}

form {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

form p {
  width: 100%;
  margin: 0;
}

form p label {
  display: block;
}

form p input {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.error {
  color: red;
  padding: 10px;
  margin: 0;
}

.results {
  background-color: white;
}

.results table {
  width: 100%;
  margin: 0 auto;
  border: 1px solid grey;
  border-collapse: collapse;
}

.results table td,
.results table th {
  border: 1px solid #ddd;
  padding: 10px;
}

.results table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ff8424;
  color: white;
}

@media (min-width: 700px) {
  .panel-header {
    width: 80%;
    margin: 0 auto;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1 1;
    align-items: center;
    margin: 0 auto;
    width: 80%;
  }
  .results {
    width: 80%;
    margin: 0 auto;
  }
}
